.App{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

/* This removes any margin padding inside applications.
   Is recommended to do for any project.
*/
body {
  padding: 0;
  margin: 0;
}